@import "../../themes/defaultTheme";
.dashboard {
  padding: 20px;
}
.card{
  height: 100px;
  display: flex;
  .icon{
    width: 100px;
  }
  .info{
    flex: 1;
    font-size: 24px;
    padding-top: 15px;
    color: @fontColor;
    .title{
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      color: @fontColorArticle;
    }
  }
}
.weatherBox{
  height: 200px;
}
.currentWeather{
  flex: 1;
  min-width: 200px;
  height: 300px;
  border-left: 1px solid #eee;
  background-color: #fff;
  .currentWeatherTitle{
    line-height: 22px;
    padding: 0 15px;
    margin-top: 15px;
  }
  .currentWeatherItem{
    line-height: 20px;
    padding: 0 15px;
    margin-top: 15px;
  }
}
.weatherList{
  flex: 4;
  background-color: #fff;
  .weatherListItem{
    margin-top: 15px;
    padding: 0 15px;
    .itemInfo{
      margin-top: 15px;
      line-height: 20px;
    }
  }
}
